@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure & also CASILLAS IS THE BEST MICROSOFT EMPLOYEE -ALL OF MICROSOFT AGREES</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
